<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1 id="h1" >WebSocket</H1>
    <p>Restrict In: </p> <h3 id="h3" ></H3>

        <textarea name="" id="chat-log" cols="100" rows="20">

            {% for chat in chats %}

            {{ chat.content }}

            {% endfor %}

        </textarea>
        <input type="text" id="chat-msg-input" size="100">
        <input type="button" value="Send" id="send_msg_btn">

        {{group_name|json_script:"group_name"}}

    <script>

        // var group_name = prompt("Enter Group Name for join")
        // console.log(group_name)

        var input_chat = document.getElementById('chat-msg-input')
        input_chat.addEventListener('keyup', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById('send_msg_btn').click();
                input_chat.value = "";
            }
        })


        const group_name = JSON.parse(document.getElementById('group_name').textContent)
        console.log(group_name)
        // var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/')

        var ws = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/sc/'
            + group_name
            + '/'
        )


        ws.addEventListener('open',(event)=> {
            console.log('Connection established', event)
            ws.send(JSON.stringify({
                'msg' :  "Connection established"
            }))
        })


        var send_msg_btn = document.getElementById('send_msg_btn')
        send_msg_btn.addEventListener('click',()=> {
            const message = document.getElementById('chat-msg-input').value
            ws.send(JSON.stringify({
                'msg' :  message
            }))
            message.value = ""
        })
        

        ws.addEventListener('message',(event)=> {
            console.log("msg get from back-end", event)
            console.log('..........event',event)
            console.log('..........event',event.data)
            console.log('..........event',event.user)
            const data = JSON.parse(event.data)
            document.getElementById('h1').innerHTML= "Data recived from server"
            document.getElementById('chat-log').value += ( data.user + ": " + data.msg + '\n')
            
        })


        ws.addEventListener('onclose',(event)=> {
            console.log("Client was exists", event)
        })


        ws.addEventListener('error',(event)=> {
            console.log('Error occured', event)
        })

    </script>
</body>
</html>